<tr>
	<td class="wrapper">
		<p>Hi {{name}}</p>
		<p>This is to notify you that your password was changed successfully.
		</p>

		<p>If you did not perform this action please contact admin from the
			contact us page.</p>
	</td>
</tr>