 <tr>
<td class="wrapper">
    <p>Hi {{ name }}</p>
    <p>Welcome to Apartu! We're excited to have you on board.</p>
    <p>Apartu is a platform that makes managing your housing easy, so you can focus on your life. Apartu has got you covered.</p>
    <p>With Apartu, you can:</p>
    <ul>
        <li>Search for a new apartment</li> 
        <li>Manage your lease</li>
        <li>Pay your rent</li>
        <li>Pay your utilities</li>
        <li>Pay your taxes</li>
    </ul>
    <p>Thanks for joining Apartu!</p>
</td>
</tr>
