<tr>
	<td class="wrapper">
		<p>Hi {{name}}</p>
		<p>Welcome to StreetXchange! We're excited to have you on board.</p>
		<p>StreetXchange is a platform that makes selling of your gift card and
			crypto and booking of flights easy, so you can focus on your life.
			StreetXchange has got you covered.</p>

		<p>Thanks for joining StreetXchange!</p>
	</td>
</tr>