 <tr>
<td class="wrapper">
    <p>Hi {{ name }}</p>
    <p>Welcome to Apartu! We're excited to have you on board.</p>
    <p>As an admin on Apartu you can:</p>
    
    <ul>
        <li>Manage landlords and tenants</li>
        <li>View and Manage apartments</li>
        <li>Onboard artisans and contractors for estates</li>
        <li>Manage estates</li>
        <li>Manage leases</li>
    </ul>
    <p>We look forward to serving you!</p>
    <p>Thanks for joining Apartu!</p>
</td>
</tr>
