 <tr>
<td class="wrapper">
    <p>Hi {{ name }}</p>
    <p>Welcome to Apartu! We're excited to have you on board.</p>
    <p>Apartu is a platform that makes managing your housing easy, so you can focus on your life. Apartu has got you covered.</p>
    <p>As a landlord on Apartu you can:</p>
    <ul>
        <li>Setup your estates or apartment for rent</li> 
        <li>Get highly vetted tenants with background checks</li>
        <li>Receive payments from tenants on time</li>
        <li>Handle repairs without hassles</li>
        <li>Pay your taxes</li>
        <li>Have an overview of whats happening in your estates</li>
    </ul>
    <p>Apartu is your digital caretaker for your estates</p>
    <p>Thanks for joining Apartu!</p>
</td>
</tr>
